<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Philly Dev Jobs
    </title>

    <!-- Latest compiled and minified CSS & JS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>

    <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container">
            <h1 class="display-4 text-center text-info">Philly Software Dev Job Scraper</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>Scraper For Jobs</h1>
                <button id="scrape" type="button" class="btn btn-warning">Press To Scrape</button>
                <button id="empty" type="button" class="btn btn-warning">Delete Articles</button>
                               
                {{{body}}}
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>


 
    {{!-- <script src="assets/js/jquery-3.2.1.min.js"></script> --}}
    <script src="/js/scraper.js"></script>

</body>

</html>




