
<div class="articles">
 
        <div class="bg-light text-dark card-body" id="articles"></div>

        <div class="notes"></div>
            
        </div>


  
    <h3 class="text-center noArticles">No Articles</h3>
  
</div>

{{!-- <script>
    $('p').on('click',()=>{
        $.ajax({
            url:'/articles/',
            type:'GET'
        })
        .then(data=>{
            let notes = `<div data-id="${data.title}" id="notes></div>`
        })
         
    })
   
</script> --}}